<div class="myTheme" [ngStyle]="{ 'background-color': backgroubdLight }">
  <app-column-colors *ngFor="let color of colors let i =index"
  [columnIndex]="i"
    [colors]="colors[i]"
    [colorText]="colorText"
    (emitColor)="colorChanged($event)"
  ></app-column-colors>
 
</div>

<input
  class="selectBackground"
  [(colorPicker)]="backgroubdLight"
  [cpCancelButton]="true"
  [cpOKButton]="true"
  [cpPresetLabel]="
  'Background'
"  [cpSaveClickOutside]="false"
  [cpOKButtonClass]="'btn btn-primary btn-xs'"
  [cpOutputFormat]="outPutFormat"
  [cpAlphaChannel]="'disabled'"
  [cpPresetColors]="['#fff', '#000000']"
  [cpAddColorButton]="false"
  [cpAddColorButtonText]="'Adicionar'"
  [cpPosition]="'auto'"
  (colorPickerChange)="gerarCorOposta($event)"
  [style.background]="backgroubdLight"
/>
<button mat-icon-button (click)="saveColors()">
  <!-- <mat-icon>brightness_4</mat-icon> -->
</button>
