<div class="myTheme" [ngStyle]="{'background-color': backgroubdLight}">
<app-column-colors [colors]="colors[0]" [colorText]="colorText"></app-column-colors>
<app-column-colors [colors]="colors[1]" [colorText]="colorText"></app-column-colors>
<app-column-colors [colors]="colors[2]" [colorText]="colorText"></app-column-colors>
<app-column-colors [colors]="colors[3]" [colorText]="colorText"></app-column-colors>
<app-column-colors [colors]="colors[4]" [colorText]="colorText"></app-column-colors>


</div>

<input class="selectBackground"
[(colorPicker)]="backgroubdLight"
[cpCancelButton]="true"
[cpOKButton]="true"
[cpSaveClickOutside]="false"
[cpOKButtonClass]="'btn btn-primary btn-xs'"
[cpOutputFormat]="outPutFormat"
[cpAlphaChannel]="'disabled'"
[cpPresetColors]="['#fff', '#2889e9']"
[cpAddColorButton]="true"
[cpAddColorButtonText]="'Adicionar'"
[cpPosition]="'top'"

(colorPickerChange)="gerarCorOposta($event)"
[style.background]="backgroubdLight"
/>
