@import "./../shared/global.scss";
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none !important;
}

.darkModeToggle {
  display: inline-block;
  color: var(--accent-darker-color);
  width: 100%;
  text-align: right;
  margin-right: 20px !important;
  .darkModeIcon {
    // button {
    //   color: var(--text-primary-color) !important;
  
    // }
    display: inline-block;
    vertical-align: center !important;
    .lm {
      color: var(--accent-color) !important;
    }
  }
}

.vWebLab___container_body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vWebLab___toolbar {
  position: fixed;
  z-index: 2;
}

.vWebLab___side-nav-container {
  flex: 1;
  margin-top: 58px;
  // margin-bottom: 20px;
}



.clear-margin-top {
  margin-top: 0 !important;
}
mat-sidenav-content {
  // position: fixed !important; /////////////
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}
mat-sidenav mat-nav-list {
  min-width: 250px;
  // width: 300px;
  // overflow: hidden;
  & .mat-list-item {
    margin-left: 20px;
  }
  .mat-subheader {
    margin-left: 0px !important;
  }
  .mat-subheader:first-child {
    margin-top: 0px;
  }
}


.simpleTable{

  height: auto !important;
  position: relative !important;
}