
.select {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  -webkit-print-color-adjust: exact; 
}
.nameColor{
  // margin-bottom: 20px !important;
}