<div
  *ngFor="let color of colors let i = index"
  class="colummColor"
  [ngStyle]="{
    'border-right': '5px solid',
    'border-color': backgroundLight,
    color: colorText
  }"
>
<!-- [cpPresetLabel]="'Cores de Open Colors - https://yeun.github.io/open-color/'" -->

<input
  class="select"
  [(colorPicker)]="color.value"
  [cpCancelButton]="true"
  [cpOKButton]="true"
  [disabled]="i!==2"

  (colorPickerChange)="changeColor($event, i)"
  [cpSaveClickOutside]="false"
  [cpOKButtonClass]="'btn btn-primary btn-xs'"
  [cpOutputFormat]="outPutFormat"
  [cpAlphaChannel]="'disabled'"
  [cpPresetLabel]="'Preset by Open Colors'"
  [cpPresetColors]="presetColors"
  [cpAddColorButton]="false"
  [cpAddColorButtonText]="'Adicionar'"
  [cpPosition]="'auto'"
  [cpPositionRelativeToArrow]="true"
  [style.background]="color.value"
  [cpWidth]="'700px'"
/>

  <div class="nameColor">{{ color.value }}</div>
</div>
